.View{
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding-bottom: 60px;
  .title{
    text-align: center;
    padding: 35px 0 45px;
  }
  .img{
    width: 311px;
    height: 309px;
    margin: 0 auto;
  }
  .card{
    background-color: #fff;
    border-radius: 22px;
    margin: -140px auto 0;
    color: #222;
    padding-top: 160px;
    padding-bottom: 40px;
    .v-title{
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    }
    .desc{
      font-size: 12px;
      color: #A8A8A8;
      text-align: center;
      margin-top: 5px;
    }
  }

}
.play-slider{
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  .duration,.cur-time{
    width: 70px;
    font-size: 12px;
    color: #aaa;
  }
  .duration{
    text-align: right;
  }
}
.paly-cont{
  .play-pause{
    width: 70px;
    height: 70px;
    margin: 40px auto 0;
  }
}
.play-rate{
  padding: 22px 15px 18px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  .rate{
    width: 53px;
    height: 24px;
    border-radius: 20px;
    background: rgba(168, 168, 168, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #d0d2d5;
    margin: 0 14px;
  }

}
